# Cache dirs and files
**/__pycache__/**
**/__backup__/**
*.pyc
.DS_Store
.ipynb_checkpoints
**/__ummoncache__/**
**/__ummoncache2__/**

# Custom local pattern
local*

# build files
.eggs
**/build/**
*egg*

# Feature preprocessing
**/processed/**
**/raw/**

# Datasets
examples/MNIST
examples/CIFAR10

# pytorch models
*.pth.tar
**ummon**.npy
ummon_*.npy

# IDEs and logs
**/.vscode/**
*.log